/dist
.env
.DS_Store
/uploads
/test-results
/output/playwright
/output/release
/integration-tests/.tmp/
/*.tgz
/.yalc
/yalc.lock
/node_modules
yarn-error.log

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache
.env.test.local

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.medusa
